<h1><font color = 'orange'>Final Project: Data Cleaning - Data Wrangling <font></h1>

In [ ]:
# Them vao thu vien
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Walmart_Sales.csv')

In [3]:
# Xem thong tin bang
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [ ]:
df.head(10)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
5,1,12-03-2010,1439541.59,0,57.79,2.667,211.380643,8.106
6,1,19-03-2010,1472515.79,0,54.58,2.720,211.215635,8.106
7,1,26-03-2010,1404429.92,0,51.45,2.732,211.018042,8.106
8,1,02-04-2010,1594968.28,0,62.27,2.719,210.820450,7.808
9,1,09-04-2010,1545418.53,0,65.86,2.770,210.622857,7.808

In [5]:
# Kiem tra du lieu missing
df.isnull().values.any()

False

In [ ]:
# Tong hop cac du lieu missing values
missing_values = df.isnull().sum()
# Tong hơp cac du lieu duplicate row values
duplicate_row_values = df.duplicated().sum()
# Display missing values and duplicate row values
missing_values, duplicate_row_values

(Store           0
 Date            0
 Weekly_Sales    0
 Holiday_Flag    0
 Temperature     0
 Fuel_Price      0
 CPI             0
 Unemployment    0
 dtype: int64,
 0)

In [6]:
# Check for duplicate row
duplicates = df.duplicated()
duplicate_rows = df[duplicates]
duplicate_count = duplicate_rows.shape[0]
print(f'Number of duplicate rows: {duplicate_count}')
print(duplicate_rows.head())

Number of duplicate rows: 0
Empty DataFrame
Columns: [Store, Date, Weekly_Sales, Holiday_Flag, Temperature, Fuel_Price, CPI, Unemployment]
Index: []

In [ ]:
# Remove missing data
df.dropna(axis=0, inplace = True)
# Remove duplicate row
df = df.drop_duplicates()

In [9]:
#recheck
missing_values_sample = df.isnull().sum()

# Check for duplicate rows in the sample
duplicate_rows_sample = df.duplicated().sum()

# Display the cleaned sample data
cleaned_data_info_sample = {
    "missing_values": missing_values_sample,
    "duplicate_rows": duplicate_rows_sample
}

cleaned_data_info_sample

{'missing_values': Store           0
 Date            0
 Weekly_Sales    0
 Holiday_Flag    0
 Temperature     0
 Fuel_Price      0
 CPI             0
 Unemployment    0
 dtype: int64,
 'duplicate_rows': 0}

In [18]:
# Cot Date data co dang ngay-thang-nam nên can doi lai thang-ngay-nam
# Tach cot Date thanh 3 cot dd_ngay, mm_thang, yyyy_nam
df[['dd','mm','yyyy']] = df['Date'].str.split('-', expand = True)
# Nhom 3 cot vua tach theo thu tu mm,dd,yyyy
df["N Date"] = df[['mm','dd','yyyy']].agg('-'.join, axis = 1)
# Xoa cac cot khong su dung
df.drop(['Date','mm','dd','yyyy'], axis = 1, inplace = True)
df.head(10)

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,N Date
0,1,1643690.90,0,42.31,2.572,211.096358,8.106,02-05-2010
1,1,1641957.44,1,38.51,2.548,211.242170,8.106,02-12-2010
2,1,1611968.17,0,39.93,2.514,211.289143,8.106,02-19-2010
3,1,1409727.59,0,46.63,2.561,211.319643,8.106,02-26-2010
4,1,1554806.68,0,46.50,2.625,211.350143,8.106,03-05-2010
5,1,1439541.59,0,57.79,2.667,211.380643,8.106,03-12-2010
6,1,1472515.79,0,54.58,2.720,211.215635,8.106,03-19-2010
7,1,1404429.92,0,51.45,2.732,211.018042,8.106,03-26-2010
8,1,1594968.28,0,62.27,2.719,210.820450,7.808,04-02-2010
9,1,1545418.53,0,65.86,2.770,210.622857,7.808,04-09-2010
10,1,1466058.28,0,66.32,2.808,210.488700,7.808,04-16-2010
11,1,1391256.12,0,64.84,2.795,210.439123,7.808,04-23-2010
12,1,1425100.71,0,67.41,2.780,210.389546,7.808,04-30-2010
13,1,1603955.12,0,72.55,2.835,210.339968,7.808,05-07-2010
14,1,1494251.50,0,74.78,2.854,210.337426,7.808,05-14-2010
15,1,1399662.07,0,76.44,2.826,210.617093,7.808,05-21-2010
16,1,1432069.95,0,80.44,2.759,210.896761,7.808,05-28-2010
17,1,1615524.71,0,80.69,2.705,211.176428,7.808,06-04-2010
18,1,1542561.09,0,80.43,2.668,211.456095,7.808,06-11-2010
19,1,1503284.06,0,84.11,2.637,211.453772,7.808,06-18-2010

In [19]:
# Remove cot N Date va chen vao vi tri cot thu 1
col = df.pop('N Date')
df.insert(1, 'N Date', col)

,Store,N Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,02-05-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,02-12-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,02-19-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,02-26-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,03-05-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,09-28-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,10-05-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,10-12-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,10-19-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,10-26-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [ ]:
# Recheck thong tin df
df.info()

# File data dat yeu cau

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   N Date        6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [21]:
# Xuat file data da clean
df.to_csv('file_Walmart_slae_final.csv')